{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}

<H4>Block hash (height): {{block['id']}} ({{block['height']}})</H4>
 <div class="center">
    <!--{{block}}-->
 </div>
    <table class="center">
        <tr>
            <td>Timestamp [UCT] (epoch):</td><td>{{block['timestamp']}} ({{block['timestamp']}})</td>
            <td>Age {{age_format}}:</td><td>{{block['timestamp'] | timedelta}}</td>
            <td>Δ [h:m:s]:</td><td>{{delta_time}}</td>
        </tr>
        <tr>
            <td>Version:</td><td>{{ block['version'] }} </td>
            <td>Block reward:</td><td>{{blk_reward}}</td>
            <td>Block size [kB]:</td><td>{{(block['size'] / 1024) | round(2)}}</td>
        </tr>
        <tr>
            <td>nonce:</td><td>{{block['nonce']}}</td>
            <td>Total fees:</td><td>{{sum_fees}}</td>
            <td>No of txs:</td><td>{{block['tx_count']}}</td>
        </tr>
    </table>

<h3>Block transactions</h3>

<div>
    <table class="center" style="width:80%">
            <tbody>
            <tr>
                <td>No.</td>
                <td>tx hash</td>
                <td>fee [mBTC]</td>
                <td>value [BTC]</td>
                <td>size [byte]</td>
                <td>in/out</td>
                <td>weight</td>
                <td>coinbase</td>
                <td>segwit</td>
            </tr>
            {% for tx in block_txs['txs'] %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="/tx/{{tx['txid']}}">{{tx['txid']}}</a></td>
                <td>{{ (tx['fee'] / 1e5) | round(7)}}</td>
                <td>{{ (tx['total_value'] / 1e8) | round(7)}}</td>
                <td>{{ tx['size'] }}</td>
                <td>{{ tx['vin'] | length }}/{{ tx['vout'] | length }}</td>
                <td>{{ tx['weight'] }}</td>
                <td>{{ tx['vin'][0]['is_coinbase'] }}</td>
                <td>{{ tx['is_sgw']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}


