{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}

<h5 style="margin-top: 5px; margin-bottom: 3">
    Chain: {{ info['chain'] }} |
    Difficulty: {{ info['difficulty'] | round(0)}} |
    Headers: {{ info['headers'] }} |
    Median time: {{info['mediantime']}} |
    Size on disk [GB]: {{ (info['size_on_disk'] / 1e6) | round(0) }} |
    Next block fee: {{fee_estimate['1']}}
</h5>

<div class="center" style="text-align: center">
    <form action="/search" method="get" style="width:80%; display: inline-block" class="center" >
        <input type="text" name="value" size="80" placeholder="block height, block hash, transaction hash, address">
        <input type="submit" value="Search">
    </form>
</div>


<h2 style="margin-bottom:0">10 recent mempool transactions</h2>
<h5 style="margin-top: 5px; margin-bottom: 10px">
    (Total count of txs: {{mempool['count']}} |
    Total size [byte]: {{mempool['vsize']}} |
    Total fees [BTC]: {{ (mempool['total_fee'] / 1e8) | round(7) }})
</h5>
<div class="center">
    <table class="center" style="width:70%">
        <tr>
            <td>no.</td>
            <td>tx hash</td>
            <td>fee [mBTC]</td>
            <td>value [BTC]</td>
            <td>size [byte]</td>
        </tr>
    {% for mtx in mempool_recent %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><a href="/tx/{{mtx['txid']}}">{{mtx['txid']}}</a></td>
            <td>{{ (mtx['fee'] / 1e5) | round(7)}}</td>
            <td>{{ (mtx['value'] / 1e8) | round(7)}}</td>
            <td>{{ mtx['vsize'] }}</td>
        </tr>
    {% endfor %}
    </table>
</div>


 <h2>Recent blocks</h2>
 <div class="center">
    <table class="center">
        <tr>
            <td>height</td>
            <td>age [h:m]</td>
            <td>size [kB]</td>
            <td>weight</td>
            <td>{{"tx_count"}}</td>
            <td>value [BTC]</td>
            <td>fee [BTC]</td>
            <td>segwit [%]</td>
        </tr>
    {% for block in recent_blocks %}
        <tr>
            <td><a href="/block/{{block['id']}}">{{block['height']}}</a></td>
            <td>{{block['timestamp'] | timedelta }}</td>
            <td>{{(block['size'] / 1024) | round(0)}}</td>
            <td>{{block['weight'] }}</td>
            <td>{{block['tx_count']}}</td>
            <td>{{ (block['total_value'] / 1e8) | round(4)}}</td>
            <td>{{ (block['total_fee'] / 1e8) | round(4)}}</td>
            <td>{{ block['sgw_percent'] | round(2)}}</td>
        </tr>
    {% endfor %}
    </table>
 </div>
{% endblock %}
