{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}

<h3 style="font-size: 12px; margin-top: 5px; margin-bottom: 3">
    Chain: {{info['chain']}} |
    Difficulty: {{info['difficulty'] | round(0)}} |
    Median time: {{info['mediantime']}} |
    Size on Disk: {{info['size_on_disk']}} |
    Next block fee: {{fee_estimate['1']}}  <br/>
    Txs in mempool: {{mempool['count']}} |
    Size of mempool: {{mempool['vsize']}} |
    Total fees in mempool: {{mempool['total_fee']}}
</h3>

 <h3>Recent blocks</h3>
 <div class="center">
    <table class="center">
        <tr>
            <td>height</td>
            <td>age [h:m]</td>
            <td>size [kB]</td>
            <td>weight</td>
            <td>{{"tx_count"}}</td>
            <td>value [BTC]</td>
            <td>fee [BTC]</td>
            <td>segwit [%]</td>
        </tr>
    {% for block in recent_blocks %}
        <tr>
            <td><a href="/block/{{block['id']}}">{{block['height']}}</a></td>
            <td>{{block['timestamp'] | timedelta }}</td>
            <td>{{(block['size'] / 1024) | round(0)}}</td>
            <td>{{block['weight'] }}</td>
            <td>{{block['tx_count']}}</td>
            <td>{{ (block['total_value'] / 1e8) | round(4)}}</td>
            <td>{{ (block['total_fee'] / 1e8) | round(4)}}</td>
            <td>{{ block['sgw_percent'] | round(2)}}</td>
        </tr>
    {% endfor %}
    </table>
 </div>
{% endblock %}
