{% extends "base.html" %}
{% block title %}Transaction{% endblock %}

{% block content %}

<H4>Tx hash (height): {{tx['txid']}} ({{tx['status']['block_height']}})</H4>

    <table class="center">
        <tr>
            <td>Timestamp [UCT]:</td><td>{{tx['status']['block_time']}}</td>
            <td>Age {{age_format}}:</td><td>{{tx['status']['block_time'] | timedelta}}</td>
            <td>Block</td><td>{{tx['status']['block_height']}}</td>
        </tr>
        <tr>
            <td>Version:</td><td>{{ tx['version'] }} </td>
            <td>weight:</td><td>{{tx['weight']}}</td>
            <td>size [B]:</td><td>{{tx['size']}}</td>
        </tr>
        <tr>
            <td>Confirmed</td><td>{{tx['status']['confirmed']}}</td>
            <td>Fee:</td><td>{{tx['fee']}}</td>
            <td>No of txs:</td><td></td>
        </tr>
    </table>


 <div class="center">
    <h3>Inputs</h3>
         <table class="center" style="width:80%">
            <tbody>
            <tr>
                <td>no.</td>
                <td>from address</td>
                <td>value</td>
                <td>from tx</td>
            </tr>
            {% for vin in tx['vin'] %}
            <tr>
                <td>{{ loop.index }}</td>

                {% if vin['prevout'] != None  %}
                   <td><a href="/address/{{vin['prevout']['scriptpubkey_address']}}">{{vin['prevout']['scriptpubkey_address']}}</a></td>
                   <td>{{ (vin['prevout']['value'] / 1e8) | round(7)}}</td>
                    <td><a href="/tx/{{vin['txid']}}">{{vin['txid']}}</a></td>
                {% else %}
                    <td>Coinbase</td>
                    <td>N/A</td>
                    <td>N/A</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

     <h3>Outputs</h3>
         <table class="center" style="width:80%">
            <tbody>
            <tr>
                <td>no.</td>
                <td>to address</td>
                <td>value</td>
            </tr>
            {% for vout in tx['vout'] %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="/address/{{vout['scriptpubkey_address']}}">{{vout['scriptpubkey_address']}}</a></td>
                <td>{{ (vout['value'] / 1e8) | round(7)}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
 </div>

</div>

{% endblock %}


