{% extends "base.html" %}
{% block title %}Transaction{% endblock %}

{% block content %}

<H4>Tx hash (height): {{tx['txid']}} ({{tx['status']['block_height']}})</H4>

    <table class="center">
        <tr>
            <td>Timestamp [UCT]:</td><td>{{tx['status']['block_time']}}</td>
            <td>Age {{age_format}}:</td><td>{{tx['status']['block_time'] | timedelta}}</td>
            <td>Block</td><td>{{tx['status']['block_height']}}</td>
        </tr>
        <tr>
            <td>Version:</td><td>{{ tx['version'] }} </td>
            <td>weight:</td><td>{{tx['weight']}}</td>
            <td>size [B]:</td><td>{{tx['size']}}</td>
        </tr>
        <tr>
            <td>Confirmed</td><td>{{tx['status']['confirmed']}}</td>
            <td>Fee:</td><td>{{tx['fee']}}</td>
            <td>No of txs:</td><td></td>
        </tr>
    </table>

{% import '_macros.html' as macros %}

 <div class="center">
   {{ macros.tx_vin_vout(tx) }}
 </div>


{% endblock %}


